.sign-page-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 523px;
}

.sign-page-background h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 73px;
}

.sign-page-background p {
  font-size: 21px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 34px;
  text-align: center;
  width: 288px;
}

.sign-page-background button {
  width: 292px;
  height: 79px;
  padding: 0px 8px;
  border: 4px solid #f4f8f7;
  box-sizing: border-box;
  border-radius: 27px;
  background-color: #39a9ab;
  color: #daefee;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 19px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.sign-page-background button.active {
  transform: scale(0.9);
}

.sign-page-background button p {
  margin: 0;
  position: absolute;
  transition: all 0.5s ease-in-out 0.1s;
}

.sign-page-background button p {
  margin: 0;
  position: absolute;
  transition: all 0.5s ease-in-out 0.1s;
}

.sign-page-background button p.signin {
  transform: translateX(0px) scale(1);
  opacity: 1;
}

.sign-page-background button p.signin.gone {
  transform: translateX(-875px) scale(0);
  opacity: 0;
}

.sign-page-background button p.signup {
  transform: translateX(875px) scale(0);
  opacity: 0;
}
.sign-page-background button p.signup.come {
  transform: translateX(0px) scale(1);
  opacity: 1;
}
